# Databases
data/*.db
*.db

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Backups
*.bak
*.bak_*
*.off


# Runtime / local
.vscode/
db_hands/
inspect_db.py
preflop/crops/
preflop/mesa*_current.bmp
preflop/screenshot_*.bmp
test.bmp
